@page "/ProductInventory/Create"

@inject ProductInventoryService productInventoryService
@inject ProductService productService
@inject LocationService locationService
@inject ToastService toastService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>ProductInventory Create</PageTitle>

<EditForm Model="ProductInventory" FormName="FormularioProductInventory" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h3>Crear Product Inventory</h3>
            </div>

            <div class="card-body">

                <div class="mb-3">
                    <label class="form-label"><strong>Producto</strong></label>
                    <InputSelect class="form-select" @bind-Value="ProductInventory.ProductId">
                        <option value="0" selected disabled hidden>Seleccione un producto...</option>
                        @foreach (var p in ListaProductos)
                        {
                            <option value="@p.ProductId">@p.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="(() => ProductInventory.ProductId)" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Ubicación</strong></label>
                    <InputSelect class="form-select" TValue="short" @bind-Value="ProductInventory.LocationId">
                        <option value="0" selected disabled hidden>Seleccione una ubicación...</option>
                        @foreach (var l in ListaUbicaciones)
                        {
                            <option value="@l.LocationId">@l.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="(() => ProductInventory.LocationId)" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Shelf</strong></label>
                    <input class="form-control" type="text" maxlength="10" @bind-value="ProductInventory.Shelf" />
                    <ValidationMessage For="(() => ProductInventory.Shelf)" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Bin</strong></label>
                    <input class="form-control" type="number" min="0" max="255" step="1" @bind-value="ProductInventory.Bin" />
                    <ValidationMessage For="(() => ProductInventory.Bin)" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Cantidad</strong></label>
                    <input class="form-control" type="number" min="0" step="1" @bind-value="ProductInventory.Quantity" />
                    <ValidationMessage For="(() => ProductInventory.Quantity)" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Fecha de modificación</strong></label>
                    <input class="form-control" type="datetime-local" @bind-value="ProductInventory.ModifiedDate" disabled />
                    <ValidationMessage For="(() => ProductInventory.ModifiedDate)" />
                </div>
            </div>

            <div class="card-footer text-center">
                <a class="btn btn-secondary bi bi-arrow-left" href="/ProductInventory/Index"> Volver</a>
                <button class="btn btn-primary bi bi-floppy" type="submit"> Guardar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public ProductInventory ProductInventory { get; set; } = new();

    public List<Product> ListaProductos { get; set; } = new();
    public List<Location> ListaUbicaciones { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        ProductInventory.ModifiedDate = DateTime.Now;

        ListaProductos = await productService.GetList(x => true);
        ListaUbicaciones = await locationService.GetList(x => true);
    }

    public async Task Guardar()
    {
        bool guardado = await productInventoryService.Guardar(ProductInventory);

        if (guardado)
        {
            toastService.ShowSuccess("Product inventory creado exitosamente.");
            navigationManager.NavigateTo("/ProductInventory/Index");
        }
        else
        {
            toastService.ShowError("Ha ocurrido un error al guardar el product inventory (posible duplicado o FK).");
        }
    }
}